@charset "UTF-8";


img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/* モバイルレイアウト : 480 px およびそれ以下. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#navi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#about {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#about-text {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topics {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#works {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#works-inner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topics-inner01 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#about-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topics-inner02 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contact {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works0{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works01{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#mod_thumbnail{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#thumbnaillist{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#info{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}





/* タブレットレイアウト : 481 px ～ 768 px。モバイルレイアウトからスタイルを継承。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#navi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#about {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#about-text {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#topics {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#works {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#works-inner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topics-inner01 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#about-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#topics-inner02 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#contact {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works0{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works01{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#mod_thumbnail{

	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}

#thumbnaillist{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#info{

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

}

/* デスクトップレイアウト : 769 px ～最大 1232 px。モバイルレイアウトとタブレットレイアウトからスタイルを継承。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 79.65%;
	max-width: 1232px;
	padding-left: 0.675%;
	padding-right: 0.675%;
	margin: auto;
}

#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#navi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#about {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#about-text {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}

#topics {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#works {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works-inner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#topics-inner01 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 32.2033%;
	display: block;
}

#about-img {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 32.2033%;
	display: block;
}

#topics-inner02 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}

#contact {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works0 {

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#works01 {

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#mod_thumbnail {

	clear: both;
	float: left;
	margin-left: 16.9491%;
	width: 66.1016%;
	display: block;
}

#thumbnaillist {

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#info {

	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

}